@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply antialiased text-brand-secondary-dark-gray text-lg font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-brand-primary-black;
  }
}

@layer components {
  .container-narrow {
    @apply max-w-8xl mx-auto px-8 lg:px-12;
  }

  .container-wide {
    @apply max-w-10xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .py-extra-top {
    @apply pt-12 lg:pt-20 pb-6 lg:pb-10;
  }

  .py-even {
    @apply py-12 lg:py-20;
  }
  .py-sm-even {
    @apply py-8 lg:py-12;
  }
  .py-extra-bottom {
    @apply pt-6 lg:pt-10 pb-12 lg:pb-20;
  }
  .btn {
    @apply bg-brand-primary-blue text-base text-white px-6 py-5 uppercase font-bold rounded-lg inline-flex items-center justify-center tracking-widest;
  }

  .heading-overline {
    @apply text-brand-primary-blue uppercase text-lg font-bold;
  }
  .heading-h1-title {
    @apply lg:text-6xl text-4xl text-white font-bold drop-shadow-heading font-heading;
  }
  .heading-h2 {
    @apply text-5xl capitalize font-bold font-heading;
  }
}

@layer utilities {
  .gradient-brand-tr {
    @apply bg-gradient-to-r from-[#273B93] to-[#0F75BC];
  }
}
