@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playwrite MX";
  src: url("../fonts/PlaywriteMX-Regular.woff2") format("woff2"),
    url("../fonts/PlaywriteMX-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* font-family: "Playwrite MX", sans-serif; */
}
